/* Example Styles for React Tags*/
.app {
	padding: 5px;
	text-align: center;
  }

  /* Example Styles for React Tags*/

  .container {
	margin: auto;
	width: 100%;
  }
  .ReactTags__tags {
	position: relative;
	max-width: 100%;
  }

  .ReactTags__clearAll {
	cursor: pointer;
	padding: 10px;
	margin: 10px;
	background: #ffdbdb;
	color: #fff;
	border: none;
  }

  /* Styles for the input */
  .ReactTags__tagInput {
	border-radius: 20px;
	display: inline-block;
	width: 100%;

  }
  .ReactTags__tagInput input.ReactTags__tagInputField,
  .ReactTags__tagInput input.ReactTags__tagInputField {
	margin-top: 5px;
	font-size: 16px;
	border: 1px solid #eee;
	width: 100%;
	height: 55px;
	border-radius: 5px;
  }

  .ReactTags__editInput {
	border-radius: 1px;

  }

  .ReactTags__editTagInput {
	display: inline-block;
  }

  /* Styles for selected tags */
  .ReactTags__selected span.ReactTags__tag {
	border: 1px solid #ddd;
	background: #87b1ce;
	color: white;
	font-size: 16px;
	display: inline-block;
	padding: 5px;
	margin: 0 5px;
	border-radius: 20px;

  }
  .ReactTags__selected a.ReactTags__remove {
	color: #aaa;
	margin-left: 5px;
	cursor: pointer;
  }

  /* Styles for suggestions */
  .ReactTags__suggestions {
	position: absolute;
  }
  .ReactTags__suggestions ul {
	list-style-type: none;
	box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
	background: white;
	width: 100%;
  }
  .ReactTags__suggestions li {
	border-bottom: 1px solid #ddd;
	padding: 5px 10px;
	margin: 0;
  }
  .ReactTags__suggestions li mark {
	text-decoration: underline;
	background: none;
	font-weight: 600;

  }
  .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
	background: #e0c3b7;
	cursor: pointer;
  }

  .ReactTags__remove {
	border: none;
	cursor: pointer;
	background: none;
	color: white;

	font-size: 18px;
  }
